{% trans_default_domain 'agreement' %}
{% extends 'form/layout.html.twig' %}

{% block title %}{% trans %}title.show{% endtrans %}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {% trans %}entity{% endtrans %}: {{ agreement.id }}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ path('flexphp.payroll.agreements.index') }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.list{% endtrans %}</span>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group"><label>{% trans %}label.name{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.name }}</div></div>
            <div class="form-group"><label>{% trans %}label.employee{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.employeeInstance.documentNumber|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.type{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.typeInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.period{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.periodInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.currency{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.currencyInstance.id|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.salary{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.salary }}</div></div>
            <div class="form-group"><label>{% trans %}label.healthPercentage{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.healthPercentage }}</div></div>
            <div class="form-group"><label>{% trans %}label.pensionPercentage{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.pensionPercentage }}</div></div>
            <div class="form-group"><label>{% trans %}label.integralSalary{% endtrans %}</label><div class="form-control-plaintext">{% if agreement.integralSalary %}{% trans from 'messages' %}label.yes{% endtrans %}{% else %}{% trans from 'messages' %}label.no{% endtrans %}{% endif %}</div></div>
            <div class="form-group"><label>{% trans %}label.highRisk{% endtrans %}</label><div class="form-control-plaintext">{% if agreement.highRisk %}{% trans from 'messages' %}label.yes{% endtrans %}{% else %}{% trans from 'messages' %}label.no{% endtrans %}{% endif %}</div></div>
            <div class="form-group"><label>{% trans %}label.initAt{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.initAt ? agreement.initAt|date('Y-m-d', app.user.timezone) : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.finishAt{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.finishAt ? agreement.finishAt|date('Y-m-d', app.user.timezone) : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.status{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.statusInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.createdAt{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.createdAt ? agreement.createdAt|date('Y-m-d H:i:s', app.user.timezone) : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.updatedAt{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.updatedAt ? agreement.updatedAt|date('Y-m-d H:i:s', app.user.timezone) : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.createdBy{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.createdByInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.updatedBy{% endtrans %}</label><div class="form-control-plaintext">{{ agreement.updatedByInstance.name|default('-') }}</div></div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    {{ include('@FlexPHPPayroll/agreement/_delete_form.html.twig', {agreement: agreement}, with_context = false) }}
                </div>

                <div class="col text-right">
                    <a href="{{ path('flexphp.payroll.agreements.edit', {id: agreement.id}) }}" class="btn btn-outline-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        <span class="btn-text">{% trans from 'messages' %}action.edit{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
