{% trans_default_domain 'payroll' %}
{% extends 'form/layout.html.twig' %}

{% block title %}{% trans %}title.show{% endtrans %}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {% trans %}entity{% endtrans %}: {{ payroll.id }}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ path('flexphp.payroll.payrolls.index') }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.list{% endtrans %}</span>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group"><label>{% trans %}label.prefix{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.prefix }}</div></div>
            <div class="form-group"><label>{% trans %}label.number{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.number }}</div></div>
            <div class="form-group"><label>{% trans %}label.employee{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.employeeInstance.documentNumber|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.provider{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.providerInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.status{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.statusInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.type{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.typeInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.traceId{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.traceId }}</div></div>
            <div class="form-group"><label>{% trans %}label.hash{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.hash }}</div></div>
            <div class="form-group"><label>{% trans %}label.hashType{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.hashType }}</div></div>
            <div class="form-group"><label>{% trans %}label.message{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.message }}</div></div>
            <div class="form-group"><label>{% trans %}label.pdfPath{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.pdfPath }}</div></div>
            <div class="form-group"><label>{% trans %}label.xmlPath{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.xmlPath }}</div></div>
            <div class="form-group"><label>{% trans %}label.parentId{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.parentIdInstance.number|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.downloadedAt{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.downloadedAt ? payroll.downloadedAt|date('Y-m-d H:i:s') : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.createdAt{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.createdAt ? payroll.createdAt|date('Y-m-d H:i:s') : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.updatedAt{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.updatedAt ? payroll.updatedAt|date('Y-m-d H:i:s') : '-' }}</div></div>
            <div class="form-group"><label>{% trans %}label.createdBy{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.createdByInstance.name|default('-') }}</div></div>
            <div class="form-group"><label>{% trans %}label.updatedBy{% endtrans %}</label><div class="form-control-plaintext">{{ payroll.updatedByInstance.name|default('-') }}</div></div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col">
                    {{ include('@FlexPHPPayroll/payroll/_delete_form.html.twig', {payroll: payroll}, with_context = false) }}
                </div>

                <div class="col text-right">
                    <a href="{{ path('flexphp.payroll.payrolls.edit', {id: payroll.id}) }}" class="btn btn-outline-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        <span class="btn-text">{% trans from 'messages' %}action.edit{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
