{% for _employeeSubType in employeeSubTypes %}
    <tr>
        <td>{{ _employeeSubType.id }}</td>
        <td>{{ _employeeSubType.name }}</td>
        <td>{{ _employeeSubType.code }}</td>
        <td>{% if _employeeSubType.isActive %}{% trans from 'messages' %}label.yes{% endtrans %}{% else %}{% trans from 'messages' %}label.no{% endtrans %}{% endif %}</td>
        <td class="text-center">
            <div class="btn-group">
                <a href="{{ path('flexphp.payroll.employee-sub-types.read', {id: _employeeSubType.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.read{% endtrans %}">
                    <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                </a>

                <a href="{{ path('flexphp.payroll.employee-sub-types.edit', {id: _employeeSubType.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.edit{% endtrans %}">
                    <i class="fa fa-edit text-info" aria-hidden="true"></i>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}
