{% set isNewPaysheet = not paysheet.id %}
{% set tokenForm = not paysheet.id ? 'create.paysheet' : 'edit.paysheet' %}
{% set methodForm = not paysheet.id ? 'POST' : 'PUT' %}
{% trans_default_domain 'paysheet' %}
{% extends 'form/layout.html.twig' %}

{% block title %}
{% if isNewPaysheet %}
{% trans %}title.new{% endtrans %}
{% else %}
{% trans %}title.edit{% endtrans %}
{% endif %}
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex">
            <div class="toolbar">
                <h3 class="card-header-title">
                    {% if isNewPaysheet %}
                    {% trans %}title.new{% endtrans %}
                    {% else %}
                    {% trans %}title.edit{% endtrans %}
                    {% endif %}
                </h3>

                {% if isNewPaysheet or paysheet.isDraft %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkDraft"{{ paysheet.isDraft ? ' checked' : '' }}>

                    <label class="custom-control-label" for="checkDraft">
                        {% trans %}__paysheet.draft{% endtrans %}
                    </label>
                </div>
                {% endif %}
            </div>

            <div class="toolbar ml-auto">
                <a href="{{ path('flexphp.payroll.paysheets.index') }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.list{% endtrans %}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="tab-content">
        {% if isNewPaysheet %}
        <form id="__paysheet" action="{{ path('flexphp.payroll.paysheets.create') }}" method="POST">
        {% else %}
        <form id="__paysheet" action="{{ path('flexphp.payroll.paysheets.update', {'id': paysheet.id}) }}" method="POST">
        {% endif %}
            <input type="hidden" name="_token" value="{{ csrf_token(tokenForm) }}">
            <input type="hidden" name="_method" value="{{ methodForm }}">
            <input type="hidden" name="paysheet[id]" value="{{ paysheet.id }}">
            <input type="hidden" name="paysheet[type]" value="{{ paysheet.type }}">
            <input type="hidden" name="paysheet[isDraft]" value="{{ paysheet.isDraft ? '1' : '0' }}">

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_employee.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_agreement.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card" style="display: none;">
                {# {{ include('@FlexPHPPayroll/paysheet/__paysheet_details.html.twig', {paysheet: paysheet}) }} #}

                <div class="card-footer">
                    <div class="row">
                        <div class="col text-right">
                            <span id="messagePaysheetDetails" style="display: none;" class="mr-3">
                                {% trans %}__paysheet.emptyPaysheetDetails{% endtrans %}
                            </span>

{#                             <button  type="submit" class="btn btn-outline-primary"> #}
{#                                 <i class="fa fa-save" aria-hidden="true"></i> #}

{#                                 <span id="buttonPartial" class="btn-text"> #}
{#                                     {% trans %}__paysheet.buttonPartial{% endtrans %} #}
{#                                 </span> #}

{#                                 <span id="buttonDraft" style="display: none;" class="btn-text"> #}
{#                                     {% if isNewPaysheet %} #}
{#                                     {% trans %}__paysheet.buttonDraft{% endtrans %} #}
{#                                     {% else %} #}
{#                                     {% trans %}__paysheet.buttonDraftUpdate{% endtrans %} #}
{#                                     {% endif %} #}
{#                                 </span> #}
{#                             </button> #}

                            {# <button id="buttonPayment" type="button" class="btn btn-warning"> #}
                            {#     <i class="fa fa-dollar-sign" aria-hidden="true"></i> #}
                            {#     <span class="btn-text">{% trans %}__paysheet.buttonPayment{% endtrans %}</span> #}
                            {# </button> #}
                        </div>
                    </div>
                </div>
            </div>

{#             <div id="__paysheetBill" style="display: none"> #}
{#                 <div class="card"> #}
{#                     {{ include('@FlexPHPPayroll/paysheet/__paysheet_bill.html.twig', {paysheet: paysheet}) }} #}
{#                 </div> #}
{#             </div> #}

            {# <div id="__paysheetPayment" style="display: none;"> #}
            <div>
                <div class="card">
            {#         {1# {{ include('@FlexPHPPayroll/paysheet/__paysheet_payment.html.twig', {paysheet: paysheet}) }} #1} #}

                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-right">
            {#                     <span id="messagePayment" style="display: none;" class="mr-3"> #}
            {#                         {% trans %}__paysheet.paymentError{% endtrans %} #}
            {#                     </span> #}

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                    {% if isNewPaysheet %}
                                    <span class="btn-text">{% trans %}__paysheet.buttonCreate{% endtrans %}</span>
                                    {% else %}
                                    <span class="btn-text">{% trans %}__paysheet.buttonUpdate{% endtrans %}</span>
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <template id="template-row-paysheet-detail" type="text/x-template">
        <td scope="row">
            <button type="button" class="btn btn-sm btn-link remove-row-paysheet-detail" title="{% trans from 'messages' %}action.remove{% endtrans %}">
                <i class="fas fa-2x fa-minus-circle text-danger"></i>
            </button>
        </td>
        <td>
            <input name="paysheet_detail[id][0]" type="hidden" value="" />
            <select name="paysheet_detail[itemId][0]" class="form-control re-calculate find-item" required></select>
        </td>
        <td class="text-right">
            <input name="paysheet_detail[price][0]" type="number" class="form-control text-right re-calculate" min="0" required />
        </td>
    </template>

    <template id="template-row-payment" type="text/x-template">
        <td scope="row">
            <button type="button" class="btn btn-sm btn-link remove-row-payment" title="{% trans from 'messages' %}action.remove{% endtrans %}">
                <i class="fas fa-2x fa-minus-circle text-danger"></i>
            </button>
        </td>
        <td>
            <input name="payment[id][0]" type="hidden" value="" />
            <input name="payment[currencyId][0]" type="hidden" value="COP" required />
            <input name="payment[paymentStatusId][0]" type="hidden" value="00" required />
            <select name="payment[paymentMethodId][0]" class="form-control find-payment-method" required></select>
        </td>
        <td>
            <input name="payment[amount][0]" type="number" class="form-control text-right re-calculate-payment" min="0" value="0" required />
        </td>
    </template>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2/select2bs4.min.css') }}" />
    <style>
        .preload-item {
            display: none;
            cursor: pointer;
        }
        .preloaded-item {
            cursor: copy;
        }
        .payment {
            font-size: 1.25em;
        }
        .payment-label {
            font-size: 1.25em;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/flexphppayroll/js/__paysheet.js') }}"></script>
{% endblock %}
