{% trans_default_domain 'paysheet' %}
<div class="card-header d-flex">
    <h4 class="card-header-title">
        <i class="fas fa-user"></i> Devengados: Vacaciones
    </h4>
    <div class="toolbar ml-auto">
        <button class="btn btn-sm btn-link" type="button" data-toggle="collapse" data-target="#accruedVacationData" aria-expanded="true" aria-controls="accruedVacationData">
            {% trans from 'messages' %}action.toggle{% endtrans %}
        </button>
    </div>
</div>

<div id="accruedVacationData" class="collapse {{ paysheet.details.accrued.vacation.0.initAt|default('') ? 'show' : 'hide' }} card-body">
    <div class="form-row">
        <div class="form-group col-3">
            <label for="accrued[vacation][0][initAt]">Fecha de Inicio</label>
            <input name="accrued[vacation][0][initAt]" data-zdp_show_icon="false" class="form-control date-picker" type="text" value="{{ paysheet.details.accrued.vacation.0.initAt|default('') ? paysheet.details.accrued.vacation.0.initAt|date('Y-m-d', app.user.timezone) : '' }}" />
        </div>

        <div class="form-group col-3">
            <label for="accrued[vacation][0][finishAt]">Fecha de Fin</label>
            <input name="accrued[vacation][0][finishAt]" data-zdp_show_icon="false" class="form-control date-picker" type="text" value="{{ paysheet.details.accrued.vacation.0.finishAt|default('') ? paysheet.details.accrued.vacation.0.finishAt|date('Y-m-d', app.user.timezone) : '' }}" />
        </div>

        <div class="form-group col-3">
            <label for="accrued[vacation][0][days]">Días</label>
            <input name="accrued[vacation][0][days]" class="form-control" type="text" value="{{ paysheet.details.accrued.vacation.0.days|default('') }}" />
        </div>

        <div class="form-group col-3">
            <label for="accrued[vacation][0][amount]">Monto</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input name="accrued[vacation][0][amount]" class="form-control accrued" type="text" value="{{ paysheet.details.accrued.vacation.0.amount|default('') }}" />
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
        </div>

        <div class="form-group col-3">
            <label for="accrued[vacation][0][compensateDays]">Días Inactivo</label>
            <input name="accrued[vacation][0][compensateDays]" class="form-control" type="text" value="{{ paysheet.details.accrued.vacation.0.compensateDays|default('') }}" />
        </div>

        <div class="form-group col-3">
            <label for="accrued[vacation][0][compensateAmount]">Monto Días Inactivo</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input name="accrued[vacation][0][compensateAmount]" class="form-control accrued" type="text" value="{{ paysheet.details.accrued.vacation.0.compensateAmount|default('') }}" />
            </div>
        </div>
    </div>
</div>
