{% set isNewPaysheet = not paysheet.id %}
{% set tokenForm = not paysheet.id ? 'create.paysheet' : 'edit.paysheet' %}
{% set methodForm = not paysheet.id ? 'POST' : 'PUT' %}
{% trans_default_domain 'paysheet' %}
{% extends 'form/layout.html.twig' %}

{% block title %}
{% if isNewPaysheet %}
{% trans %}title.new{% endtrans %}
{% else %}
{% trans %}title.edit{% endtrans %}
{% endif %}
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex">
            <div class="toolbar">
                <h3 class="card-header-title">
                    {% if isNewPaysheet %}
                    {% trans %}title.new{% endtrans %}
                    {% else %}
                    {% trans %}title.edit{% endtrans %}
                    {% endif %}
                </h3>

                {% if isNewPaysheet or paysheet.isDraft %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkDraft"{{ paysheet.isDraft ? ' checked' : '' }}>

                    <label class="custom-control-label" for="checkDraft">
                        {% trans %}__paysheet.draft{% endtrans %}
                    </label>
                </div>
                {% endif %}
            </div>

            <div class="toolbar ml-auto">
                <a href="{{ path('flexphp.payroll.paysheets.index') }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.list{% endtrans %}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="tab-content">
        {% if isNewPaysheet %}
        <form id="__paysheet" action="{{ path('flexphp.payroll.paysheets.create') }}" method="POST">
        {% else %}
        <form id="__paysheet" action="{{ path('flexphp.payroll.paysheets.update', {'id': paysheet.id}) }}" method="POST">
        {% endif %}
            <input type="hidden" name="_token" value="{{ csrf_token(tokenForm) }}">
            <input type="hidden" name="_method" value="{{ methodForm }}">
            <input type="hidden" name="paysheet[id]" value="{{ paysheet.id }}">
            <input type="hidden" name="paysheet[type]" value="{{ paysheet.type ?? 'N' }}">
            <input type="hidden" name="paysheet[isDraft]" value="{{ paysheet.isDraft ? '1' : '0' }}">

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_general.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_employee.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_agreement.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_basic.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_transport.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_vacation.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_bonus.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_cessation.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_support.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_accrued_endowment.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_deduction_health.html.twig', {paysheet: paysheet}) }}
            </div>

            <div class="card">
                {{ include('@FlexPHPPayroll/paysheet/__paysheet_total.html.twig', {paysheet: paysheet}) }}
            </div>

            <div>
                <div class="card">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save" aria-hidden="true"></i>
                                    {% if isNewPaysheet %}
                                    <span class="btn-text">{% trans %}__paysheet.buttonCreate{% endtrans %}</span>
                                    {% else %}
                                    <span class="btn-text">{% trans %}__paysheet.buttonUpdate{% endtrans %}</span>
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <template id="template-row-accrued-paid-at" type="text/x-template">
        <div class="form-group col-1 offset-7">
            <label for="">&nbsp;</label>
            <button class="subPaidAt btn btn-sm btn-outline-danger" data-id="#0#" type="button">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="paidAt form-group col-4" data-id="#0#">
            <label for="accrued[basic][0][paidAt][#0#]">Fecha de Pago</label>
            <input name="accrued[basic][0][paidAt][#0#]" data-zdp_show_icon="false" class="form-control date-picker" type="text" value="" />
        </div>
    </template>


    <template id="template-row-paysheet-detail" type="text/x-template">
        <td scope="row">
            <button type="button" class="btn btn-sm btn-link remove-row-paysheet-detail" title="{% trans from 'messages' %}action.remove{% endtrans %}">
                <i class="fas fa-2x fa-minus-circle text-danger"></i>
            </button>
        </td>
        <td>
            <input name="paysheet_detail[id][0]" type="hidden" value="" />
            <select name="paysheet_detail[itemId][0]" class="form-control re-calculate find-item" required></select>
        </td>
        <td class="text-right">
            <input name="paysheet_detail[price][0]" type="number" class="form-control text-right re-calculate" min="0" required />
        </td>
    </template>

    <template id="template-row-payment" type="text/x-template">
        <td scope="row">
            <button type="button" class="btn btn-sm btn-link remove-row-payment" title="{% trans from 'messages' %}action.remove{% endtrans %}">
                <i class="fas fa-2x fa-minus-circle text-danger"></i>
            </button>
        </td>
        <td>
            <input name="payment[id][0]" type="hidden" value="" />
            <input name="payment[currencyId][0]" type="hidden" value="COP" required />
            <input name="payment[paymentStatusId][0]" type="hidden" value="00" required />
            <select name="payment[paymentMethodId][0]" class="form-control find-payment-method" required></select>
        </td>
        <td>
            <input name="payment[amount][0]" type="number" class="form-control text-right re-calculate-payment" min="0" value="0" required />
        </td>
    </template>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2/select2bs4.min.css') }}" />
    <style>
        .preload-item {
            display: none;
            cursor: pointer;
        }
        .preloaded-item {
            cursor: copy;
        }
        .payment {
            font-size: 1.25em;
        }
        .payment-label {
            font-size: 1.25em;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/flexphppayroll/js/__paysheet.js') }}"></script>
{% endblock %}
