{% trans_default_domain 'paysheet' %}
{% extends 'form/layout.html.twig' %}

{% block title %}{% trans %}title.list{% endtrans %}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {% trans %}title.list{% endtrans %}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ path('flexphp.payroll.paysheets.new') }}" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="btn-text">{% trans %}title.new{% endtrans %}</span>
                </a>
            </div>
        </div>

        <div class="card-body p-0 table-responsive-sm">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{% trans %}label.id{% endtrans %}</th>
                        <th scope="col">{% trans %}label.statusId{% endtrans %}</th>
                        <th scope="col">{% trans %}label.employeeId{% endtrans %}</th>
                        <th scope="col">{% trans %}label.agreementId{% endtrans %}</th>
                        <th scope="col">{% trans %}label.totalPaid{% endtrans %}</th>
                        <th scope="col">{% trans %}label.total{% endtrans %}</th>
                        <th scope="col">{% trans %}label.createdAt{% endtrans %}</th>
                        {# <th scope="col">{% trans %}label.notes{% endtrans %}</th> #}
                        <th scope="col" class="text-center" style="width: 105px;"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                {{ include('@FlexPHPPayroll/paysheet/_ajax.html.twig', {paysheets: paysheets}) }}
                </tbody>
            </table>
            {{ include('default/_infinite.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
<div class="left-sidebar">
    <div class="card">
        <div class="card-body">
            {{ form_start(filter, {'action': path('flexphp.payroll.paysheets.index'), 'method': 'POST'}) }}
                {{ form_widget(filter) }}

                {{ include('default/_back_button.html.twig') }}

                {{ include('default/_filter_button.html.twig') }}
            {{ form_end(filter) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery.infinite.min.js') }}"></script>
    <script src="{{ asset('bundles/flexphppayroll/js/paysheets.js') }}"></script>
{% endblock %}
