{% for _employee in employees %}
    <tr>
        <td>{{ _employee.id }}</td>
        <td>
            {{ _employee.firstName }} {{ _employee.secondName }}<br />
            {{ _employee.firstSurname }} {{ _employee.secondSurname }}<br />
            {{ _employee.documentTypeIdInstance.id|default('-') }} {{ _employee.documentNumber }}
        </td>
        <td>
            {{ _employee.typeInstance.name|default('-') }}<br />
            {{ _employee.subTypeInstance.name|default('-') }}
        </td>
        <td>
            {{ _employee.paymentMethodInstance.name|default('-') }}<br />
            {{ _employee.accountTypeInstance.name|default('-') }}<br />
            {{ _employee.accountNumber }}
        </td>
        <td>{% if _employee.isActive %}{% trans from 'messages' %}label.yes{% endtrans %}{% else %}{% trans from 'messages' %}label.no{% endtrans %}{% endif %}</td>
        <td class="text-center">
            <div class="btn-group">
                <a href="{{ path('flexphp.payroll.employees.read', {id: _employee.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.read{% endtrans %}">
                    <i class="fa fa-eye text-dark" aria-hidden="true"></i>
                </a>

                <a href="{{ path('flexphp.payroll.employees.edit', {id: _employee.id}) }}" class="btn btn-sm btn-outline-light" title="{% trans from 'messages' %}action.edit{% endtrans %}">
                    <i class="fa fa-edit text-info" aria-hidden="true"></i>
                </a>
            </div>
        </td>
    </tr>
{% endfor %}
